/* Set some global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 48px;
  color: #333;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 50px;
}

form.ev {
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

footer {
    background: #3e8e41;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-icons a {
  color: #333333;
  font-size: 24px;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: white;
}

p {
  margin: 0;
  font-size: 18px;
  color: #333333;
}

@media screen and (max-width: 768px) {
  /* adjust layout for smaller screens */
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }

  form.ev {
    margin: 20px 15px;
    max-width: 400px;
  }

  /* adjust button styles */
  button {
    padding: 8px 16px;
    font-size: 14px;
  }

  /* adjust footer styles */
  .social-icons {
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
  }
}
